extends ../layout

block content
  h1 Sign up page
  form(action="/signup",method="POST")
    label(for="email") Email:
    input(placeholder="Enter an email", required=true, name="email", type="email")
    label(for="password") Password:
    input(placeholder="Enter a password", required=true, name="password", type="password")
    button(type="submit") Sign up
    p
      Already have an account? #[a(href="/login") Log in here]
